ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e .


python -m pip install "pymongo[srv]"


v1BN1oVJjOKTerHB mongodb password
varshithmohang_db_user userid